.quick {
  background-color: black;
  padding: 115px 0 91px 0;

  .list {
    /* display: inline-flex;
    flex-direction: column; */
    color: white;
    text-transform: uppercase;
    font-family: $Lato-Bold, serif;
    font-size: 25px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      background: #9c1c28;
      height: 6px;
      width: 90px;
      top: 36px;
    }

    &__item {
      padding-top: 16px;
      &:first-child {
        margin-top: 26px;
      }
    }

    &__link {
      font-size: 15px;
      color: #ee3143;
      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

  }

  .newsletter {
    &__header {
      color: white;
      text-transform: uppercase;
      font-family: $Lato-Bold, serif;
      font-size: 25px;
      position: relative; 
      &:after {
        position: absolute;
        content: '';
        left: 0;
        background: #9c1c28;
        height: 6px;
        width: 90px;
        top: 36px;
      }
    }    

    &__text {
      color: #887979;
      font-family: $LatoRegular, serif;
      font-size: 15px;
      padding: 46px 0 38px 0;
    }
  
    &__input {
      padding: 10px 0;
      background-color: #282828;
      color: white;
      border: none;
      margin-bottom: 35px;
      vertical-align: middle;
      width: 100%;
    }

    .button {
      padding: 10px 60px;
    }
  }

  .mt-lg {
    @media (max-width: 1200px) {
      margin-top: 0;
    }

    @media (max-width: 992px) {
      margin-top: 40px;
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .list-social {
    margin: 126px 0 0 25px;
    color: white;
    font-size: 25px;
    display: flex;

    &__item {
      padding-right: 30px;
    }

    &__link {
      color: white;
    }
  }
}