section#discount.discount
  .container
    .row.align-items-center
      .col-xl-6.text-center
        .discount-content
          .discount-content__header 25% off
          .discount-content__description on order over $999
          .discount-content__text This Offer is valid on all out items
          a.button(href="#").button--red.button--text-uppercase.
            buy now
      .col-xl-6.text-center.mt-lg
        .discount-content
          .discount-content__header 25% off
          .discount-content__description on order over $999
          .discount-content__text This Offer is valid on all out items
          a.button(href="#").button--red.button--text-uppercase.
            buy now
