section.featured
  .container
    .row
      .col-xl-12
        .title featured products
        .row.mt-xl.justify-content-xl-between.align-items-center.flex-wrap.justify-content-center
          .col-xl-2.col-lg-6.col-md-6
            .product
              img(src="img/icons/accessories.svg", alt="Аксессуары").product__accessories
              .product__description headlights
              .product__price $300.00
              .product-rating
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star-half-o
          .col-xl-2.col-lg-6.col-md-6
            .product
              img(src="img/icons/accessories2.svg", alt="Аксессуары").product__accessories
              .product__description headlights
              .product__price $300.00
              .product-rating
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star-half-o
          .col-xl-2.col-lg-6.col-md-6
            .product
              img(src="img/icons/accessories3.svg", alt="Аксессуары").product__accessories
              .product__description headlights
              .product__price $300.00
              .product-rating
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star-half-o
          .col-xl-2.col-lg-6.col-md-6
            .product
              img(src="img/icons/accessories4.svg", alt="Аксессуары").product__accessories
              .product__description headlights
              .product__price $300.00
              .product-rating
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star-half-o
          .col-xl-2.col-lg-6.col-md-6
            .product.no-mb-lg
              img(src="img/icons/accessories5.svg", alt="Аксессуары").product__accessories
              .product__description headlights
              .product__price $300.00
              .product-rating
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star-half-o
