footer.footer
  .contact
    .container
      .row
        .col-xl-4
          .list.mb-lg
            .list__header information
            .list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde esse explicabo assumenda odit enim. Officia expedita nostrum veritatis sed consectetur praesentium omnis, blanditiis libero illum excepturi ea at doloribus molestiae atque non qui. Expedita ullam suscipit quis dignissimos ducimus.
        .col-xl-4
          .list
            .list__header information
            .list__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde esse explicabo assumenda odit enim. Officia expedita nostrum veritatis sed consectetur praesentium omnis, blanditiis libero illum excepturi ea at doloribus molestiae atque non qui. Expedita ullam suscipit quis dignissimos ducimus.
        .col-xl-4
          .title.mb-lg contact

          ul.contact-list
            li.contact-list__item
              i.contact-list__icon.fa.fa-map-marker
              a.contact-list__text(href="#") 123, Main Road, Your City, NY 1234
            li.contact-list__item 
              i.contact-list__icon.fa.fa-phone
              a.contact-list__text(href="#") +123 456 7890
            li.contact-list__item 
              i.contact-list__icon.fa.fa-clock-o
              a.contact-list__text(href="#") 7 Days a week from 10:00 am to 6:00 pm
            li.contact-list__item 
              i.contact-list__icon.fa.fa-envelope
              a.contact-list__text(href="#") mikhail2013ru@gmail.com

  .copyrights
    .container
      .row.align-items-center.justify-content-between
        .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12
          .copyrights__text.
            CarStore <span>&copy; 2019. All Rights Reverved.</span>
        .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-xs-12
          .payments
            i.payments__icon.fa.fa-cc-visa
            i.payments__icon.fa.fa-cc-paypal
            i.payments__icon.fa.fa-cc-mastercard

