header.header
  .header__top
    .container
      .row.align-items-center.justify-content-center
        .col-xl-10.col-lg-5.offset-lg-3.offset-xl-0.col-md-6.offset-md-2.col-sm-8
          ul.user-form.d-flex.justify-content-xl-end.justify-content-center
            li.user-form__item
              i.user-form__icon.fa.fa-user
              a.user-form__link(href="#") My Account
            li.user-form__item 
              i.user-form__icon.fa.fa-cart-plus
              a.user-form__link(href="#") Cart
            li.user-form__item 
              i.user-form__icon.fa.fa-check-circle
              a.user-form__link(href="#") CheckOut
        .col-xl-2.col-lg-4.col-md-4.col-sm-3
          form(action="#").search-form
            button.search-form__button
              i.search-form__icon.search-form__icon--white.fa.fa-search
            input(type="text").search-form__input
  .container
    .header-bottom
      .row.align-items-center.flex-wrap.justify-content-lg-between
        .col-xl-3.col-lg-2.col-md-2
          .logo
            .logo__name Car<span>Store</span>
            .logo__description best car seller
        .col-xl-5.col-lg-5.col-md-10.d-flex.justify-content-sm-center.mt-sm.justify-content-xl-center.justify-content-md-end
          ul.phone
            li.phone__item 
              i.fa.fa-mobile.phone__icon
              a.phone__number(href="#") +123 456 7890
              .phone__shedule Mon-Fri: 8:30am-7:30pm; Sat-Sun: 9:30am-4:30pm 
        .col-xl-4.col-lg-4.mt-md
          .wrap
            ul.list
              i.list__icon.fa.fa-star
              a.list__link(href="#") wishlist
            ul.list
              i.list__icon.fa.fa-car
              a.list__link(href="#") compare
            ul.list
              i.list__icon.fa.fa-shopping-cart
              a.list__link(href="#") my cart



    