section.headlights
  .container-fluid
    .row.align-items-center
      .col-xl-6.bgColor--light
        .content
          .text
            .text__header headlights
            .text__description Headlights Projector, LED, Factory
            img(src="img/headlights/headlights1.svg", alt="headlights").image
      .col-xl-6.bgColor--dark
        .content
          .text
            .text__header headlights
            .text__description Headlights Projector, LED, Factory
            img(src="img/headlights/headlights2.svg", alt="headlights").image
      .col-xl-6.bgColor--dark
        .content
          .text
              .text__header headlights
              .text__description Headlights Projector, LED, Factory
              img(src="img/headlights/headlights3.svg", alt="headlights").image
      .col-xl-6.bgColor--light
        .content
          .text
              .text__header headlights
              .text__description Headlights Projector, LED, Factory
              img(src="img/headlights/headlights4.svg", alt="headlights").image