section.nav
    .container
        .row.align-items-center.justify-content-sm-center.justify-content-lg-start
            .col-xl-12.col-lg-12.col-md-7.col-sm-9
                ul.list
                  li.list__item
                    a.list__link(href="#") home
                  li.list__item
                    a.list__link(href="#") services
                  li.list__item
                    a.list__link(href="#") about
                  li.list__item
                    a.list__link(href="#") reviews
                  li.list__item
                    a.list__link(href="#") locations
                  li.list__item
                    a.list__link(href="#") contacts