section.quick
  .container
    .row.align-items-center.justify-content-around.justify-content-xl-between
      .col-xl-2.col-lg-3.d-flex.justify-content-center
        ul.list quick links
          li.list__item 
            a.list__link(href="#") About Us
          li.list__item
            a.list__link(href="#") Customer Service
          li.list__item
            a.list__link(href="#") Privacy Policy
          li.list__item
            a.list__link(href="#") Site Map
          li.list__item
            a.list__link(href="#") Search Terms
          li.list__item
            a.list__link(href="#") Advanced Search
          li.list__item
            a.list__link(href="#") Orders and Returns
          li.list__item
            a.list__link(href="#") Contact Us
      .col-xl-2.col-lg-3.d-flex.justify-content-center
        ul.list quick links
          li.list__item 
            a.list__link(href="#") About Us
          li.list__item
            a.list__link(href="#") Customer Service
          li.list__item
            a.list__link(href="#") Privacy Policy
          li.list__item
            a.list__link(href="#") Site Map
          li.list__item
            a.list__link(href="#") Search Terms
          li.list__item
            a.list__link(href="#") Advanced Search
          li.list__item
            a.list__link(href="#") Orders and Returns
          li.list__item
            a.list__link(href="#") Contact Us
      .col-xl-2.col-lg-3.d-flex.justify-content-center
        ul.list quick links
          li.list__item 
            a.list__link(href="#") About Us
          li.list__item
            a.list__link(href="#") Customer Service
          li.list__item
            a.list__link(href="#") Privacy Policy
          li.list__item
            a.list__link(href="#") Site Map
          li.list__item
            a.list__link(href="#") Search Terms
          li.list__item
            a.list__link(href="#") Advanced Search
          li.list__item
            a.list__link(href="#") Orders and Returns
          li.list__item
            a.list__link(href="#") Contact Us
      .col-xl-3.col-lg-4.mt-lg
        .newsletter 
          .newsletter__header newsletter
          .newsletter__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, facere.
          input(type="text" placeholder="Ваш email").newsletter__input
          a.button(href="#").button--red.button--text-uppercase.
            submit
        
        ul.list-social
          li.list-social__item
            a.list-social__link(href="#")
              i.fa.fa-facebook.list-social__link
          li.list-social__item
            a.list-social__link(href="#")
              i.fa.fa-twitter.list-social__link
          li.list-social__item
            a.list-social__link(href="#")
              i.fa.fa-google-plus.list-social__link
          li.list-social__item
            a.list-social__link(href="#")
              i.fa.fa-instagram.list-social__link
          li.list-social__item
            a.list-social__link(href="#")
              i.fa.fa-pinterest-p.list-social__link



